
<!--Display User List-->
<span class="navbar-left col-md-3">    
    <span class="right-inner-addon">        
        <span class="glyphicon glyphicon-search"></span>
        <input type="text" placeholder="Search Users" class="textfield" ng-model="searchText" size="25" />
    </span>
    <br />
    <span ng-repeat="User in Users | filter:searchText" class="users">
        {{User.Username}}
        <input type="button" value="Follow" class="btn-xs btn-success active" ng-click="Follow(User.Id)" id="{{User.Id}}" /><br /><br />
    </span>
</span>

<!--Tweet Box-->
<div class="col-md-6">
    <span class="right-inner-addon-twt">
        <textarea cols="40" ng-model="Tweet" placeholder="Write your tweet here" class="well-lg" id="tweetbox"></textarea>
        <button ng-click="SubmitTweet()" class="btn btn-primary">Tweet</button>
    </span>
</div>

<div class="navbar-right">
    Following:
    <!--<span ng-repeat="User in Users">
        {{User.Username}} <input type="button" value="Follow" ng-click="Follow()" /><br />
    </span>-->
</div>

<!--Display Tweets-->
<div class="col-md-6 col-md-offset-2" style="margin-top:40px;position:absolute;padding-top:80px">
    <div ng-repeat="Tweet in Tweets" style="width:300px; min-height:50px" class="well container">
        {{Tweet.UserId}} : {{Tweet.Message}}<br />
    </div>
</div>