<br />
<br />
<textarea cols="30" ng-model="Tweet" placeholder="Write your tweet here" class="well-lg"></textarea>
<input type="button" ng-click="SubmitTweet()" value="Tweet" class="btn btn-primary" />

<!--Display User List-->
<div class="navbar-left">
    <span class="glyphicon glyphicon-search"></span><input type="text" placeholder="Search Users" class="form-control" ng-model="searchText" /><br />
    <span ng-repeat="User in Users | filter:searchText" class="users">
        {{User.Username}}
        <input type="button" value="Follow" class="btn-xs btn-success" ng-click="Follow(User.Id)" id="{{User.Id}}" /><br /><br />
</span>
</div>

<div class="navbar-right">
    Following:
    <!--<span ng-repeat="User in Users">
        {{User.Username}} <input type="button" value="Follow" ng-click="Follow()" /><br />
    </span>-->

</div>

<!--Display Tweets-->
<div>
    <div ng-repeat="Tweet in Tweets" style="width:300px; min-height:50px" class="well container">
        {{Tweet.UserId}} : {{Tweet.Message}}<br />
    </div>
</div>